.stage {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*   .modalContent {
    position: relative;
    max-width: 1200px;
    width: 100%;
    display: grid;
    place-content: center;
    z-index: 1;
  } */

  .contentWrapper {
    margin-top: 250px;
    position: relative;
    max-width: 1200px;
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;

    h2 {
      margin-bottom: 2rem;
      font-size: clamp(1.25rem, 1.5vw, 2rem);
      color: white;
      font-weight: 400;
      width: 100%;
      text-align: center;
      text-shadow: 1px 1px 2px rgb(20, 20, 20);
      opacity: 0;
      text-align: left;
    }

    h1 {
      margin: 2rem 0;
      font-size: clamp(2rem, 3vw, 5rem);
      color: white;
      font-weight: 600;
      text-align: center;
      text-shadow: 3px 4px 7px rgba(36, 35, 31, 0.8);
      opacity: 0;
    }
  }

  .bgWrapper {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;

    .img {
      object-fit: cover;
      object-position: center;
    }
  }

  .overlay {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.325);
  }

  .buttons {
    position: relative;
    margin: 4rem auto 2rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .linkToAll {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    color: #f8f8f88a;
    background: rgb(116, 116, 116);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;

    &:hover {
      transition: color 0.3s ease-in;
      color: #f8f8f8;
    }
  }
}
