@use '../../styles/base/' as *;

.stage {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modalContent {
    position: relative;
    max-width: 1200px;
    width: 100%;
    display: grid;
    place-content: center;
    z-index: 1;
  }

  .contentWrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 1;

        h1 {
          padding: 2rem;
          font-size: $font-size-xl;
          color: $color-client-1;
          font-family: $font-base;
          font-weight: 400;
          text-shadow: 3px 4px 7px rgba(36, 35, 31, 0.8);
          opacity: 0;
        }

        h2 {
          padding: 2rem;
          font-size: $font-size-m;
          color: $color-client-black;
          font-weight: 400;
          text-shadow: 1px 1px 1px rgba(247, 247, 247, 0.74);
          opacity: 0
        }
  }

  .bgWrapper {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;

    .img {
        object-fit: cover;
        object-position: center;
    }
  }

  .overlay {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.325);
  }

  .buttons {
    position: relative;
    margin: 40rem auto 2rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .linkToAll {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    color: #f8f8f88a;
    background: rgb(116, 116, 116);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;

    &:hover {
      transition: color 0.3s ease-in;
      color: #f8f8f8;
    }
  }

  .desc {
    color: $color-client-1;
  }
}
