.reveal {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.textSplit {
  padding: 0rem 0.2rem;
  display: inline-block;
  color: rgb(25, 224, 181);
  span {
    font-size: 2rem;
    
    font-weight: 600;
  }
}