.homepage {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(120deg, #121212, #000);
    /* scroll-snap-type: y mandatory;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    } */

    /* .wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    z-index: -1;
    } */
}