/* ========== HAMBURGER NAV BUTTON ====================== */
.hamburger_wrapper {
    position: fixed;
    top: 1.5vh;
    left: auto;
    right: 0;
    z-index: 1000;
            @media screen and (min-width: 768px) {
                top: 25.5vh;
                right: 1svw;
                left: auto;
              }

           /*  .hide {
                width: 100%;
                z-index: 40;
                border-bottom: 10px solid #121212;
                position: fixed;
                transform: translateY(-54px);
                transition: all 0.4s ease;
              }
              
              .bg {
                transition: 0.3s ease;
                background-color: #122122;
              } */
  }
  
  .hamburger {    
    position: relative;   
    padding: 1rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    border: 1px solid transparent;
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.225));
    filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.322));

    &:hover {
      transition: all 0.3s ease-in-out;
      transform: translateY(-2px);
      filter: drop-shadow(1px 5px 10px rgba(36, 36, 36, 0.322));
    }
}

.hamburger span {
    padding: 0.5rem 1.25rem;
    border-radius: 25px;
    background-color: rgb(20, 20, 20);
    margin-bottom: .5rem;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    position: relative;

    @media screen and (min-width: 768px) {
      padding: 0.75rem 1.5rem;
    }
}




.hamburger.active span {
    width: 0;
    border: 1px solid #888;
}
      
 
  @media screen and (min-width: 768px) {
    .hamburger {
      display: block;
  }
}


