@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: 0, 0, 0;
  --background-start-rgb: 12, 12, 12;
  --white: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  height: 100%;
  width: 100vw;
  color: rgb(var(--black));
  background: linear-gradient(to bottom, rgb(var(--black)))
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}
