.modal {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.glass {
  background-color: rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(3px);
  color: #dbdbdb;
}

.close_btn {
  position: absolute;
  top: 25%;
  left: 80%;
  right: 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 0.25rem;
  background: rgb(0, 0, 0);
  color: rgba(192, 188, 188, 0.952);
  font-size: 2rem;
  border-radius: 50%;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.55));
  box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.4);
  z-index: 1100;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    top: 30%;
    left: 75%;
  }
}

@media screen and (min-witdh: 768px) {
  .modal {
    width: 80%;
  }
}
