.modal {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glass {
  background-color: rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(3px);
  color: #dbdbdb;
}

.close_btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  top: 1rem;
  right: 1rem;
  padding: 0.25rem;
  background: rgba(0, 0, 0, 0.225);
  color: rgba(192, 188, 188, 0.952);
  font-size: 2rem;
  border-radius: 50%;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.55));
  box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.4);
  z-index: 100;
  cursor: pointer;
}

@media screen and (min-witdh: 768px) {
  .modal {
    width: 80%;
  }
}
