nav {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100svw;
 /*  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; */
}

nav.scroll {
  top: 0;
}

nav > ul {
  height: 100svh;
  position: relative;
  background-color: rgba(41,41,41);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* not shure I want to use the 'classic' nav layout on mobile */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
/*   -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; */
}

/* nav > ul.open {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
} */

@media (min-width: 768px) {
  nav {
    top: calc(25% - 80px);
    right: 0;
    width: 100svw;
    height: 80px;
    border-radius: 0%;
    z-index: 49;
  }

  nav.border {
    border-bottom: 5px solid #888;
  }

  nav > ul {
    position: relative;
    margin: 0;
    padding: 0 25px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(20, 20, 20);
    /* -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%); */
  }
}

/* 
.hide {
  width: 100%;
  z-index: 40;
  border-bottom: 10px solid $color-client-2;
  position: fixed;
  transform: translateY(-54px);
  transition: all 0.4s ease;
}

.bgorange {
  transition: 0.3s ease;
  background-color: $color-client-2; 
} */
